{{#partial "content"}}
    <h3>Make some Reviews!</h3>
    <hr>
    <ul>
        <li><a href="/networks">see all networks</a></li>
        <li><a href="/networks/new">add a new network</a></li>
    </ul>
{{/partial}}

{{> layout.hbs}}